In [19]:
import yfinance as yahooFinance

# Here We are getting Facebook financial information
# We need to pass FB as argument for that
GetInformation = yahooFinance.Ticker("360ONE.NS")
 
# Valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y,
# 2y, 5y, 10y and ytd.
print(GetInformation.history(period="3M"))

             Open        High         Low       Close  Volume  Dividends  \
Date
2023-03-24  422.0  434.850006  419.950012  429.100006  138825          0

            Stock Splits
Date
2023-03-24             0

In [20]:
GetInformation = yahooFinance.Ticker("360ONE.NS")
#yahoo_financials = yahooFinance('360ONE.NS')
print(GetInformation.get_prev_close_price(period = '3mo'))

AttributeError: 'Ticker' object has no attribute 'get_prev_close_price'

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("C:\\Users\\Abha N K\\Downloads\\mylastbraincells.csv")
print(df.to_string())

             Tickers
0          360ONE.NS
1         3MINDIA.NS
2      AARTIPHARM.NS
3             ABB.NS
4      ABBOTINDIA.NS
5             ACC.NS
6             ACE.NS
7      ADANIGREEN.NS
8      ADANIPORTS.NS
9   ADANITRANS-BL.NS
10          ABFRL.NS
11     ADVENZYMES.NS
12         AETHER.NS
13          AFFLE.NS
14         AGSTRA.NS
15       AHLUCONT.NS
16         AIAENG.NS
17     AJANTPHARM.NS

In [29]:
df.iat[0, 0]

'360ONE.NS'

In [36]:
df.iat[1,0]

'3MINDIA.NS'

In [37]:
df.iat[2, 0]

'AARTIPHARM.NS'

In [33]:
i = df.iat[0,0]
type(i)

str

In [32]:
data = yahooFinance.download(df.iat[0, 0])

KeyboardInterrupt:

In [34]:
data = yahooFinance.download('360ONE.NS', period = '3mo')
print(data).to_string()

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  431.649994  443.487488  431.649994  438.512512  434.529236   93820
2022-12-27  440.712494  445.987488  438.687500  440.875000  436.870270   37708
2022-12-28  438.987488  443.087494  435.000000  438.274994  434.293854  110428
2022-12-29  438.750000  442.475006  435.937500  439.524994  435.532501   84440
2022-12-30  439.212494  447.125000  437.750000  444.125000  440.090729  108684
...                ...         ...         ...         ...         ...     ...
2023-03-20  425.000000  440.000000  415.000000  417.950012  417.950012  118805
2023-03-21  419.000000  423.649994  395.100006  401.450012  401.450012  279207
2023-03-22  401.000000  435.000000  398.049988  428.700012  428.700012  402438
2023-03-23  427.000000  432.549988  413.200012  429.600006  429.600006  175154
2023-03-24  422.000000  434.850006  419.950012  429.100006  429.100006  138825

[63 rows x 6 columns]

AttributeError: 'NoneType' object has no attribute 'to_string'

In [35]:
data = yahooFinance.download(df.iat[0, 0], period = '3mo')
#print(data).to_string()

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  431.649994  443.487488  431.649994  438.512512  434.529236   93820
2022-12-27  440.712494  445.987488  438.687500  440.875000  436.870270   37708
2022-12-28  438.987488  443.087494  435.000000  438.274994  434.293854  110428
2022-12-29  438.750000  442.475006  435.937500  439.524994  435.532501   84440
2022-12-30  439.212494  447.125000  437.750000  444.125000  440.090729  108684
...                ...         ...         ...         ...         ...     ...
2023-03-20  425.000000  440.000000  415.000000  417.950012  417.950012  118805
2023-03-21  419.000000  423.649994  395.100006  401.450012  401.450012  279207
2023-03-22  401.000000  435.000000  398.049988  428.700012  428.700012  402438
2023-03-23  427.000000  432.549988  413.200012  429.600006  429.600006  175154
2023-03-24  422.000000  434.850006  419.950012  429.100006  429.100006  138825

[63 rows x 6 columns]

AttributeError: 'NoneType' object has no attribute 'to_string'

In [45]:

for i in range(3):
    print(i)
    i = i+1

0
1
2

In [46]:
for i in range(3):
    print(i)

0
1
2

In [48]:
for i in range(18):
    data = yahooFinance.download(df.iat[i, 0], period = '3mo')
    print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  431.649994  443.487488  431.649994  438.512512  434.529236   93820
2022-12-27  440.712494  445.987488  438.687500  440.875000  436.870270   37708
2022-12-28  438.987488  443.087494  435.000000  438.274994  434.293854  110428
2022-12-29  438.750000  442.475006  435.937500  439.524994  435.532501   84440
2022-12-30  439.212494  447.125000  437.750000  444.125000  440.090729  108684
...                ...         ...         ...         ...         ...     ...
2023-03-20  425.000000  440.000000  415.000000  417.950012  417.950012  118805
2023-03-21  419.000000  423.649994  395.100006  401.450012  401.450012  279207
2023-03-22  401.000000  435.000000  398.049988  428.700012  428.700012  402438
2023-03-23  427.000000  432.549988  413.200012  429.600006  429.600006  175154
2023-03-24  422.000000  434.850006  419.950012  429.100006  429.100006  138825

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                    Open          High           Low         Close  \
Date
2022-12-26  22255.000000  22717.000000  22150.000000  22386.800781
2022-12-27  22411.000000  22615.750000  22252.949219  22333.050781
2022-12-28  22479.000000  22479.000000  22026.900391  22101.000000
2022-12-29  22190.000000  22190.000000  21951.599609  22017.300781
2022-12-30  22075.050781  22188.949219  21900.000000  21943.099609
...                  ...           ...           ...           ...
2023-03-20  23198.000000  23198.000000  22125.000000  22916.400391
2023-03-21  22996.000000  23198.900391  22602.000000  22733.000000
2023-03-22  22890.000000  22899.849609  22200.000000  22350.750000
2023-03-23  22386.000000  22568.000000  21741.199219  21783.349609
2023-03-24  21900.000000  22527.949219  21730.000000  22323.050781

               Adj Close  Volume
Date
2022-12-26  22386.800781    1406
2022-12-27  22333.050781    1141
2022-12-28  22101.000000    1212
2022-12-29  22017.300781    1490
2022-12-30  21943.099609     760
...                  ...     ...
2023-03-20  22916.400391    7292
2023-03-21  22733.000000    2017
2023-03-22  22350.750000    1807
2023-03-23  21783.349609    3256
2023-03-24  22323.050781    2615

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-01-30  299.899994  314.850006  286.100006  288.250000  288.250000
2023-01-31  289.000000  289.000000  273.850006  273.850006  273.850006
2023-02-01  260.149994  260.149994  260.149994  260.149994  260.149994
2023-02-02  247.149994  247.149994  247.149994  247.149994  247.149994
2023-02-03  234.800003  259.500000  234.800003  259.500000  259.500000
2023-02-06  272.450012  272.450012  266.200012  272.450012  272.450012
2023-02-07  286.049988  286.049988  286.049988  286.049988  286.049988
2023-02-08  300.350006  300.350006  300.350006  300.350006  300.350006
2023-02-09  315.350006  315.350006  315.350006  315.350006  315.350006
2023-02-10  331.100006  331.100006  308.049988  313.049988  313.049988
2023-02-13  318.000000  337.899994  313.750000  323.049988  323.049988
2023-02-14  330.500000  330.500000  291.799988  298.450012  298.450012
2023-02-15  302.950012  310.100006  287.950012  294.549988  294.549988
2023-02-16  299.000000  301.700012  292.100006  295.299988  295.299988
2023-02-17  301.000000  312.000000  295.200012  303.000000  303.000000
2023-02-20  314.000000  317.000000  310.600006  314.700012  314.700012
2023-02-21  318.000000  323.299988  307.000000  310.799988  310.799988
2023-02-22  311.850006  313.000000  302.700012  305.500000  305.500000
2023-02-23  304.000000  324.000000  302.549988  315.549988  315.549988
2023-02-24  317.850006  322.000000  310.500000  314.200012  314.200012
2023-02-27  310.000000  313.649994  306.049988  310.299988  310.299988
2023-02-28  310.000000  310.000000  298.000000  302.600006  302.600006
2023-03-01  300.000000  309.000000  298.000000  299.899994  299.899994
2023-03-02  302.850006  303.000000  296.399994  297.899994  297.899994
2023-03-03  300.899994  306.899994  298.000000  300.000000  300.000000
2023-03-06  301.000000  309.899994  300.250000  305.250000  305.250000
2023-03-08  303.000000  304.000000  294.000000  301.149994  301.149994
2023-03-09  304.000000  307.899994  297.899994  299.100006  299.100006
2023-03-10  298.000000  306.850006  295.500000  303.000000  303.000000
2023-03-13  304.000000  304.049988  297.100006  300.299988  300.299988
2023-03-14  300.000000  303.850006  294.500000  298.000000  298.000000
2023-03-15  298.100006  307.649994  296.549988  302.149994  302.149994
2023-03-16  302.149994  302.149994  287.399994  291.100006  291.100006
2023-03-17  295.950012  295.950012  283.799988  285.899994  285.899994
2023-03-20  281.299988  285.950012  277.100006  280.299988  280.299988
2023-03-21  285.000000  285.600006  276.049988  280.799988  280.799988
2023-03-22  287.750000  293.399994  281.100006  287.950012  287.950012
2023-03-23  285.250000  299.350006  285.250000  295.850006  295.850006
2023-03-24  295.000000  295.799988  282.899994  285.149994  285.149994

             Volume
Date
2023-01-30   329027
2023-01-31   150034
2023-02-01    69850
2023-02-02    89213
2023-02-03  2065032
2023-02-06   660667
2023-02-07   343557
2023-02-08   310278
2023-02-09   724706
2023-02-10   751226
2023-02-13   360101
2023-02-14   260690
2023-02-15   198992
2023-02-16   112913
2023-02-17   370491
2023-02-20   173844
2023-02-21   334866
2023-02-22   211511
2023-02-23   229805
2023-02-24   145854
2023-02-27    65321
2023-02-28   248161
2023-03-01   165820
2023-03-02   101327
2023-03-03   126945
2023-03-06   209425
2023-03-08   183874
2023-03-09   160844
2023-03-10    84792
2023-03-13    84730
2023-03-14    60882
2023-03-15    71116
2023-03-16   110888
2023-03-17    75035
2023-03-20   205501
2023-03-21   290366
2023-03-22   409524
2023-03-23   247918
2023-03-24   161022
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2022-12-26  2685.000000  2744.649902  2640.000000  2724.649902  2724.649902
2022-12-27  2750.149902  2757.550049  2708.600098  2742.649902  2742.649902
2022-12-28  2735.050049  2762.750000  2708.000000  2724.350098  2724.350098
2022-12-29  2725.000000  2737.000000  2678.949951  2684.199951  2684.199951
2022-12-30  2694.500000  2727.949951  2676.800049  2683.000000  2683.000000
...                 ...          ...          ...          ...          ...
2023-03-20  3300.000000  3329.000000  3266.449951  3298.850098  3298.850098
2023-03-21  3299.000000  3432.949951  3299.000000  3412.350098  3412.350098
2023-03-22  3413.050049  3427.199951  3301.050049  3309.899902  3309.899902
2023-03-23  3310.000000  3384.000000  3301.350098  3360.449951  3360.449951
2023-03-24  3377.350098  3392.000000  3330.000000  3346.699951  3346.699951

            Volume
Date
2022-12-26  171579
2022-12-27  117811
2022-12-28  127712
2022-12-29  225208
2022-12-30  155615
...            ...
2023-03-20  175472
2023-03-21  278420
2023-03-22  288396
2023-03-23  369001
2023-03-24  180455

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                    Open          High           Low         Close  \
Date
2022-12-26  21988.800781  21988.800781  21602.000000  21772.550781
2022-12-27  21770.000000  21825.000000  21440.000000  21625.400391
2022-12-28  21576.000000  21750.000000  21451.949219  21643.150391
2022-12-29  21626.000000  21799.949219  21522.000000  21726.199219
2022-12-30  21675.000000  21850.000000  21232.750000  21367.199219
...                  ...           ...           ...           ...
2023-03-20  20715.000000  21415.699219  20715.000000  21327.300781
2023-03-21  21420.000000  21420.000000  21120.099609  21287.849609
2023-03-22  21250.000000  21747.050781  21182.250000  21491.650391
2023-03-23  21500.000000  21653.949219  21352.500000  21540.199219
2023-03-24  21540.199219  21678.000000  21056.349609  21128.900391

               Adj Close  Volume
Date
2022-12-26  21772.550781   31853
2022-12-27  21625.400391   21294
2022-12-28  21643.150391   19443
2022-12-29  21726.199219   16010
2022-12-30  21367.199219   14422
...                  ...     ...
2023-03-20  21327.300781   12395
2023-03-21  21287.849609    5813
2023-03-22  21491.650391   13584
2023-03-23  21540.199219    9237
2023-03-24  21128.900391    5596

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2022-12-26  2372.000000  2448.500000  2360.000000  2423.649902  2423.649902
2022-12-27  2430.949951  2487.949951  2428.100098  2478.000000  2478.000000
2022-12-28  2475.000000  2477.000000  2447.550049  2455.350098  2455.350098
2022-12-29  2455.000000  2467.699951  2411.149902  2447.850098  2447.850098
2022-12-30  2459.000000  2474.000000  2434.199951  2441.600098  2441.600098
...                 ...          ...          ...          ...          ...
2023-03-20  1730.000000  1730.300049  1676.050049  1695.599976  1695.599976
2023-03-21  1713.949951  1739.849976  1698.250000  1724.599976  1724.599976
2023-03-22  1730.000000  1746.000000  1724.650024  1738.349976  1738.349976
2023-03-23  1738.000000  1752.199951  1725.000000  1738.300049  1738.300049
2023-03-24  1736.000000  1745.949951  1694.550049  1700.849976  1700.849976

            Volume
Date
2022-12-26  480611
2022-12-27  260633
2022-12-28  201331
2022-12-29  352346
2022-12-30  145633
...            ...
2023-03-20  449040
2023-03-21  306383
2023-03-22  258724
2023-03-23  448459
2023-03-24  530771

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-12-26  265.299988  292.000000  265.299988  287.950012  287.950012
2022-12-27  292.399994  295.000000  278.299988  292.250000  292.250000
2022-12-28  292.950012  297.850006  289.000000  291.049988  291.049988
2022-12-29  289.049988  302.500000  286.850006  298.350006  298.350006
2022-12-30  302.149994  307.399994  300.700012  303.850006  303.850006
...                ...         ...         ...         ...         ...
2023-03-20  369.000000  377.649994  356.700012  361.399994  361.399994
2023-03-21  364.850006  376.000000  362.000000  374.399994  374.399994
2023-03-22  374.000000  376.950012  370.000000  371.700012  371.700012
2023-03-23  369.700012  382.250000  368.200012  380.350006  380.350006
2023-03-24  379.200012  384.000000  375.000000  377.350006  377.350006

             Volume
Date
2022-12-26  1265879
2022-12-27  1274628
2022-12-28   498792
2022-12-29   483478
2022-12-30   356250
...             ...
2023-03-20   382148
2023-03-21   432665
2023-03-22   252332
2023-03-23   488049
2023-03-24   349720

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2022-12-26  1809.050049  1910.699951  1755.000000  1876.849976  1876.849976
2022-12-27  1890.000000  1929.949951  1883.250000  1908.699951  1908.699951
2022-12-28  1908.699951  1943.000000  1877.000000  1897.849976  1897.849976
2022-12-29  1891.000000  1938.000000  1865.000000  1910.250000  1910.250000
2022-12-30  1930.000000  1996.000000  1910.000000  1931.800049  1931.800049
...                 ...          ...          ...          ...          ...
2023-03-20   797.950012   853.299988   775.450012   848.650024   848.650024
2023-03-21   868.000000   891.049988   865.650024   891.049988   891.049988
2023-03-22   923.000000   935.599976   923.000000   935.599976   935.599976
2023-03-23   982.000000   982.349976   977.750000   982.349976   982.349976
2023-03-24  1024.000000  1031.449951   942.650024  1029.349976  1029.349976

              Volume
Date
2022-12-26   1226600
2022-12-27    899439
2022-12-28    997622
2022-12-29    779002
2022-12-30   1555688
...              ...
2023-03-20   6908589
2023-03-21   3819655
2023-03-22   1825044
2023-03-23   1170710
2023-03-24  12922622

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-12-26  798.000000  812.000000  785.299988  806.049988  806.049988
2022-12-27  810.099976  821.200012  798.099976  817.150024  817.150024
2022-12-28  815.750000  817.000000  808.799988  810.349976  810.349976
2022-12-29  807.000000  822.500000  799.549988  819.549988  819.549988
2022-12-30  822.450012  826.750000  815.599976  818.099976  818.099976
...                ...         ...         ...         ...         ...
2023-03-20  671.000000  677.750000  659.299988  666.750000  666.750000
2023-03-21  671.500000  674.400024  661.200012  664.799988  664.799988
2023-03-22  669.900024  671.900024  654.150024  657.150024  657.150024
2023-03-23  655.000000  667.349976  652.049988  654.950012  654.950012
2023-03-24  658.200012  660.650024  633.950012  638.000000  638.000000

             Volume
Date
2022-12-26  7205540
2022-12-27  4872234
2022-12-28  3624974
2022-12-29  5308353
2022-12-30  3252956
...             ...
2023-03-20  5250369
2023-03-21  5011027
2023-03-22  4457720
2023-03-23  4491324
2023-03-24  6069647

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-03-02  668.400024  668.400024  668.400024  668.400024  668.400024

              Volume
Date
2023-03-02  29189784
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-12-26  284.250000  293.049988  282.799988  288.700012  288.700012
2022-12-27  292.000000  293.000000  285.000000  286.350006  286.350006
2022-12-28  286.350006  288.600006  283.500000  285.850006  285.850006
2022-12-29  285.000000  289.450012  281.500000  288.049988  288.049988
2022-12-30  289.000000  292.100006  286.700012  287.500000  287.500000
...                ...         ...         ...         ...         ...
2023-03-20  215.050003  216.550003  210.250000  215.550003  215.550003
2023-03-21  216.000000  219.699997  214.550003  217.649994  217.649994
2023-03-22  218.600006  221.000000  216.250000  216.899994  216.899994
2023-03-23  216.899994  216.899994  210.100006  211.250000  211.250000
2023-03-24  211.000000  213.750000  209.100006  211.899994  211.899994

             Volume
Date
2022-12-26  1851215
2022-12-27  1577076
2022-12-28  1445705
2022-12-29  3538557
2022-12-30   953681
...             ...
2023-03-20  1258202
2023-03-21  1810450
2023-03-22  1214055
2023-03-23  1689761
2023-03-24  2638824

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  274.850006  280.350006  268.649994  276.899994  276.899994   83959
2022-12-27  279.299988  284.000000  275.750000  281.500000  281.500000   52802
2022-12-28  281.500000  284.649994  280.000000  282.000000  282.000000   41644
2022-12-29  283.399994  283.500000  276.000000  277.850006  277.850006   28592
2022-12-30  278.000000  282.350006  277.149994  280.799988  280.799988   48178
...                ...         ...         ...         ...         ...     ...
2023-03-20  231.000000  240.600006  231.000000  237.949997  237.949997   94594
2023-03-21  239.149994  247.949997  236.000000  241.949997  241.949997   74414
2023-03-22  243.050003  247.449997  240.100006  241.800003  241.800003   39179
2023-03-23  241.800003  247.699997  236.100006  239.449997  239.449997   86400
2023-03-24  240.449997  241.750000  231.149994  233.250000  233.250000   95993

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  834.700012  848.650024  815.150024  835.200012  835.200012   32377
2022-12-27  851.900024  851.900024  829.000000  841.450012  841.450012   26244
2022-12-28  849.799988  850.349976  831.549988  843.500000  843.500000   34064
2022-12-29  842.000000  843.000000  831.950012  840.250000  840.250000   17490
2022-12-30  847.700012  852.000000  835.000000  839.150024  839.150024   22444
...                ...         ...         ...         ...         ...     ...
2023-03-20  850.000000  878.650024  850.000000  862.349976  862.349976   17033
2023-03-21  864.000000  884.000000  864.000000  871.549988  871.549988   17636
2023-03-22  880.200012  880.200012  873.900024  875.250000  875.250000    7040
2023-03-23  875.250000  899.000000  875.250000  885.549988  885.549988   42286
2023-03-24  894.000000  899.000000  880.049988  885.750000  885.750000   30434

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2022-12-26  1029.400024  1056.050049  1003.000000  1044.099976  1044.099976
2022-12-27  1057.449951  1058.500000  1025.000000  1049.500000  1049.500000
2022-12-28  1056.000000  1068.000000  1040.000000  1061.250000  1061.250000
2022-12-29  1056.900024  1083.000000  1046.050049  1077.000000  1077.000000
2022-12-30  1089.349976  1101.250000  1074.949951  1082.750000  1082.750000
...                 ...          ...          ...          ...          ...
2023-03-20   943.799988   979.000000   943.799988   971.799988   971.799988
2023-03-21   980.000000   997.900024   972.049988   976.799988   976.799988
2023-03-22   981.700012   995.750000   966.000000   990.650024   990.650024
2023-03-23   992.000000   992.000000   970.000000   973.200012   973.200012
2023-03-24   973.599976   978.200012   946.650024   950.099976   950.099976

            Volume
Date
2022-12-26  370291
2022-12-27  398180
2022-12-28  198517
2022-12-29  268556
2022-12-30  357665
...            ...
2023-03-20  263295
2023-03-21  143408
2023-03-22  146014
2023-03-23   72113
2023-03-24   77866

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close   Volume
Date
2022-12-26  64.949997  67.500000  64.400002  64.699997  64.699997   416529
2022-12-27  66.000000  66.650002  64.449997  65.800003  65.800003   421674
2022-12-28  65.699997  65.699997  63.900002  64.050003  64.050003   438231
2022-12-29  64.650002  64.650002  63.849998  63.950001  63.950001   240016
2022-12-30  64.199997  65.050003  63.500000  63.650002  63.650002   525228
...               ...        ...        ...        ...        ...      ...
2023-03-20  54.200001  54.200001  52.500000  52.700001  52.700001   153977
2023-03-21  53.000000  53.450001  52.349998  52.650002  52.650002   191789
2023-03-22  53.000000  54.849998  51.549999  51.799999  51.799999  1916381
2023-03-23  52.000000  52.400002  50.250000  50.400002  50.400002   319860
2023-03-24  50.849998  50.950001  49.799999  50.150002  50.150002  1438911

[63 rows x 6 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  Volume
Date
2022-12-26  439.950012  458.350006  436.549988  446.000000  446.000000   46521
2022-12-27  446.850006  475.000000  444.049988  470.750000  470.750000   30000
2022-12-28  473.500000  478.950012  462.200012  468.549988  468.549988    9078
2022-12-29  473.000000  494.000000  457.250000  482.399994  482.399994   30141
2022-12-30  487.000000  487.950012  475.500000  475.950012  475.950012   24984
...                ...         ...         ...         ...         ...     ...

In [60]:
for i in range(18):
    data = yahooFinance.download(df.iat[i, 0], period = '3mo')
    print(data['Adj Close'])

[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    434.529236
2022-12-27    436.870270
2022-12-28    434.293854
2022-12-29    435.532501
2022-12-30    440.090729
                 ...
2023-03-20    417.950012
2023-03-21    401.450012
2023-03-22    428.700012
2023-03-23    429.600006
2023-03-24    429.100006
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    22386.800781
2022-12-27    22333.050781
2022-12-28    22101.000000
2022-12-29    22017.300781
2022-12-30    21943.099609
                  ...
2023-03-20    22916.400391
2023-03-21    22733.000000
2023-03-22    22350.750000
2023-03-23    21783.349609
2023-03-24    22323.050781
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2023-01-30    288.250000
2023-01-31    273.850006
2023-02-01    260.149994
2023-02-02    247.149994
2023-02-03    259.500000
2023-02-06    272.450012
2023-02-07    286.049988
2023-02-08    300.350006
2023-02-09    315.350006
2023-02-10    313.049988
2023-02-13    323.049988
2023-02-14    298.450012
2023-02-15    294.549988
2023-02-16    295.299988
2023-02-17    303.000000
2023-02-20    314.700012
2023-02-21    310.799988
2023-02-22    305.500000
2023-02-23    315.549988
2023-02-24    314.200012
2023-02-27    310.299988
2023-02-28    302.600006
2023-03-01    299.899994
2023-03-02    297.899994
2023-03-03    300.000000
2023-03-06    305.250000
2023-03-08    301.149994
2023-03-09    299.100006
2023-03-10    303.000000
2023-03-13    300.299988
2023-03-14    298.000000
2023-03-15    302.149994
2023-03-16    291.100006
2023-03-17    285.899994
2023-03-20    280.299988
2023-03-21    280.799988
2023-03-22    287.950012
2023-03-23    295.850006
2023-03-24    285.149994
Name: Adj Close, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    2724.649902
2022-12-27    2742.649902
2022-12-28    2724.350098
2022-12-29    2684.199951
2022-12-30    2683.000000
                 ...
2023-03-20    3298.850098
2023-03-21    3412.350098
2023-03-22    3309.899902
2023-03-23    3360.449951
2023-03-24    3346.699951
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    21772.550781
2022-12-27    21625.400391
2022-12-28    21643.150391
2022-12-29    21726.199219
2022-12-30    21367.199219
                  ...
2023-03-20    21327.300781
2023-03-21    21287.849609
2023-03-22    21491.650391
2023-03-23    21540.199219
2023-03-24    21128.900391
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    2423.649902
2022-12-27    2478.000000
2022-12-28    2455.350098
2022-12-29    2447.850098
2022-12-30    2441.600098
                 ...
2023-03-20    1695.599976
2023-03-21    1724.599976
2023-03-22    1738.349976
2023-03-23    1738.300049
2023-03-24    1700.849976
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    287.950012
2022-12-27    292.250000
2022-12-28    291.049988
2022-12-29    298.350006
2022-12-30    303.850006
                 ...
2023-03-20    361.399994
2023-03-21    374.399994
2023-03-22    371.700012
2023-03-23    380.350006
2023-03-24    377.350006
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    1876.849976
2022-12-27    1908.699951
2022-12-28    1897.849976
2022-12-29    1910.250000
2022-12-30    1931.800049
                 ...
2023-03-20     848.650024
2023-03-21     891.049988
2023-03-22     935.599976
2023-03-23     982.349976
2023-03-24    1029.349976
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    806.049988
2022-12-27    817.150024
2022-12-28    810.349976
2022-12-29    819.549988
2022-12-30    818.099976
                 ...
2023-03-20    666.750000
2023-03-21    664.799988
2023-03-22    657.150024
2023-03-23    654.950012
2023-03-24    638.000000
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2023-03-02    668.400024
Name: Adj Close, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    288.700012
2022-12-27    286.350006
2022-12-28    285.850006
2022-12-29    288.049988
2022-12-30    287.500000
                 ...
2023-03-20    215.550003
2023-03-21    217.649994
2023-03-22    216.899994
2023-03-23    211.250000
2023-03-24    211.899994
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    276.899994
2022-12-27    281.500000
2022-12-28    282.000000
2022-12-29    277.850006
2022-12-30    280.799988
                 ...
2023-03-20    237.949997
2023-03-21    241.949997
2023-03-22    241.800003
2023-03-23    239.449997
2023-03-24    233.250000
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    835.200012
2022-12-27    841.450012
2022-12-28    843.500000
2022-12-29    840.250000
2022-12-30    839.150024
                 ...
2023-03-20    862.349976
2023-03-21    871.549988
2023-03-22    875.250000
2023-03-23    885.549988
2023-03-24    885.750000
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    1044.099976
2022-12-27    1049.500000
2022-12-28    1061.250000
2022-12-29    1077.000000
2022-12-30    1082.750000
                 ...
2023-03-20     971.799988
2023-03-21     976.799988
2023-03-22     990.650024
2023-03-23     973.200012
2023-03-24     950.099976
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    64.699997
2022-12-27    65.800003
2022-12-28    64.050003
2022-12-29    63.950001
2022-12-30    63.650002
                ...
2023-03-20    52.700001
2023-03-21    52.650002
2023-03-22    51.799999
2023-03-23    50.400002
2023-03-24    50.150002
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    446.000000
2022-12-27    470.750000
2022-12-28    468.549988
2022-12-29    482.399994
2022-12-30    475.950012
                 ...
2023-03-20    475.549988
2023-03-21    480.399994
2023-03-22    473.250000
2023-03-23    501.850006
2023-03-24    503.049988
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    2605.149902
2022-12-27    2602.750000
2022-12-28    2575.699951
2022-12-29    2584.800049
2022-12-30    2564.949951
                 ...
2023-03-20    2751.149902
2023-03-21    2751.149902
2023-03-22    2791.800049
2023-03-23    2823.350098
2023-03-24    2843.050049
Name: Adj Close, Length: 63, dtype: float64
[*********************100%***********************]  1 of 1 completed
Date
2022-12-26    1186.400024
2022-12-27    1165.349976
2022-12-28    1182.550049
2022-12-29    1200.000000
2022-12-30    1211.949951
                 ...
2023-03-20    1183.550049
2023-03-21    1205.750000
2023-03-22    1220.800049
2023-03-23    1229.900024
2023-03-24    1184.300049
Name: Adj Close, Length: 63, dtype: float64

In [61]:
ticker_list = []
for i in range(18):
    ticker_list.append(df.iat[i, 0])
    
print(ticker_list)

['360ONE.NS', '3MINDIA.NS', 'AARTIPHARM.NS', 'ABB.NS', 'ABBOTINDIA.NS', 'ACC.NS', 'ACE.NS', 'ADANIGREEN.NS', 'ADANIPORTS.NS', 'ADANITRANS-BL.NS', 'ABFRL.NS', 'ADVENZYMES.NS', 'AETHER.NS', 'AFFLE.NS', 'AGSTRA.NS', 'AHLUCONT.NS', 'AIAENG.NS', 'AJANTPHARM.NS']

In [63]:
new_data = yahooFinance.download(tickers = ticker_list, period = "3mo")
print(new_data)

[*********************100%***********************]  18 of 18 completed
             Adj Close                                                         \
             360ONE.NS    3MINDIA.NS AARTIPHARM.NS       ABB.NS ABBOTINDIA.NS
Date
2022-12-26  434.529236  22386.800781           NaN  2724.649902  21772.550781
2022-12-27  436.870270  22333.050781           NaN  2742.649902  21625.400391
2022-12-28  434.293854  22101.000000           NaN  2724.350098  21643.150391
2022-12-29  435.532501  22017.300781           NaN  2684.199951  21726.199219
2022-12-30  440.090729  21943.099609           NaN  2683.000000  21367.199219
...                ...           ...           ...          ...           ...
2023-03-20  417.950012  22916.400391    280.299988  3298.850098  21327.300781
2023-03-21  401.450012  22733.000000    280.799988  3412.350098  21287.849609
2023-03-22  428.700012  22350.750000    287.950012  3309.899902  21491.650391
2023-03-23  429.600006  21783.349609    295.850006  3360.449951  21540.199219
2023-03-24  429.100006  22323.050781    285.149994  3346.699951  21128.900391

                                                                             \
              ABFRL.NS       ACC.NS      ACE.NS ADANIGREEN.NS ADANIPORTS.NS
Date
2022-12-26  288.700012  2423.649902  287.950012   1876.849976    806.049988
2022-12-27  286.350006  2478.000000  292.250000   1908.699951    817.150024
2022-12-28  285.850006  2455.350098  291.049988   1897.849976    810.349976
2022-12-29  288.049988  2447.850098  298.350006   1910.250000    819.549988
2022-12-30  287.500000  2441.600098  303.850006   1931.800049    818.099976
...                ...          ...         ...           ...           ...
2023-03-20  215.550003  1695.599976  361.399994    848.650024    666.750000
2023-03-21  217.649994  1724.599976  374.399994    891.049988    664.799988
2023-03-22  216.899994  1738.349976  371.700012    935.599976    657.150024
2023-03-23  211.250000  1738.300049  380.350006    982.349976    654.950012
2023-03-24  211.899994  1700.849976  377.350006   1029.349976    638.000000

            ...        Volume                                               \
            ... ADANIGREEN.NS ADANIPORTS.NS ADANITRANS-BL.NS ADVENZYMES.NS
Date        ...
2022-12-26  ...       1226600       7205540              NaN         83959
2022-12-27  ...        899439       4872234              NaN         52802
2022-12-28  ...        997622       3624974              NaN         41644
2022-12-29  ...        779002       5308353              NaN         28592
2022-12-30  ...       1555688       3252956              NaN         48178
...         ...           ...           ...              ...           ...
2023-03-20  ...       6908589       5250369              NaN         94594
2023-03-21  ...       3819655       5011027              NaN         74414
2023-03-22  ...       1825044       4457720              NaN         39179
2023-03-23  ...       1170710       4491324              NaN         86400
2023-03-24  ...      12922622       6069647              NaN         95993


           AETHER.NS AFFLE.NS AGSTRA.NS AHLUCONT.NS AIAENG.NS AJANTPHARM.NS
Date
2022-12-26     32377   370291    416529       46521     28176        134283
2022-12-27     26244   398180    421674       30000     15737        166929
2022-12-28     34064   198517    438231        9078     47328         76294
2022-12-29     17490   268556    240016       30141     23058        105583
2022-12-30     22444   357665    525228       24984     32195         44137
...              ...      ...       ...         ...       ...           ...
2023-03-20     17033   263295    153977       55800     23136         69827
2023-03-21     17636   143408    191789       14692     57133         38783
2023-03-22      7040   146014   1916381        3964     39483        249704
2023-03-23     42286    72113    319860       61189     57601         65120
2023-03-24     30434    77866   1438911       52650     62366        268140

[63 rows x 108 columns]

In [67]:
new_data = yahooFinance.download(tickers = ticker_list, period = "3mo")
print(new_data['Adj Close'])

[*********************100%***********************]  18 of 18 completed
             360ONE.NS    3MINDIA.NS  AARTIPHARM.NS       ABB.NS  \
Date
2022-12-26  434.529236  22386.800781            NaN  2724.649902
2022-12-27  436.870270  22333.050781            NaN  2742.649902
2022-12-28  434.293854  22101.000000            NaN  2724.350098
2022-12-29  435.532501  22017.300781            NaN  2684.199951
2022-12-30  440.090729  21943.099609            NaN  2683.000000
...                ...           ...            ...          ...
2023-03-20  417.950012  22916.400391     280.299988  3298.850098
2023-03-21  401.450012  22733.000000     280.799988  3412.350098
2023-03-22  428.700012  22350.750000     287.950012  3309.899902
2023-03-23  429.600006  21783.349609     295.850006  3360.449951
2023-03-24  429.100006  22323.050781     285.149994  3346.699951

            ABBOTINDIA.NS    ABFRL.NS       ACC.NS      ACE.NS  ADANIGREEN.NS  \
Date
2022-12-26   21772.550781  288.700012  2423.649902  287.950012    1876.849976
2022-12-27   21625.400391  286.350006  2478.000000  292.250000    1908.699951
2022-12-28   21643.150391  285.850006  2455.350098  291.049988    1897.849976
2022-12-29   21726.199219  288.049988  2447.850098  298.350006    1910.250000
2022-12-30   21367.199219  287.500000  2441.600098  303.850006    1931.800049
...                   ...         ...          ...         ...            ...
2023-03-20   21327.300781  215.550003  1695.599976  361.399994     848.650024
2023-03-21   21287.849609  217.649994  1724.599976  374.399994     891.049988
2023-03-22   21491.650391  216.899994  1738.349976  371.700012     935.599976
2023-03-23   21540.199219  211.250000  1738.300049  380.350006     982.349976
2023-03-24   21128.900391  211.899994  1700.849976  377.350006    1029.349976

            ADANIPORTS.NS  ADANITRANS-BL.NS  ADVENZYMES.NS   AETHER.NS  \
Date
2022-12-26     806.049988               NaN     276.899994  835.200012
2022-12-27     817.150024               NaN     281.500000  841.450012
2022-12-28     810.349976               NaN     282.000000  843.500000
2022-12-29     819.549988               NaN     277.850006  840.250000
2022-12-30     818.099976               NaN     280.799988  839.150024
...                   ...               ...            ...         ...
2023-03-20     666.750000               NaN     237.949997  862.349976
2023-03-21     664.799988               NaN     241.949997  871.549988
2023-03-22     657.150024               NaN     241.800003  875.250000
2023-03-23     654.950012               NaN     239.449997  885.549988
2023-03-24     638.000000               NaN     233.250000  885.750000

               AFFLE.NS  AGSTRA.NS  AHLUCONT.NS    AIAENG.NS  AJANTPHARM.NS
Date
2022-12-26  1044.099976  64.699997   446.000000  2605.149902    1186.400024
2022-12-27  1049.500000  65.800003   470.750000  2602.750000    1165.349976
2022-12-28  1061.250000  64.050003   468.549988  2575.699951    1182.550049
2022-12-29  1077.000000  63.950001   482.399994  2584.800049    1200.000000
2022-12-30  1082.750000  63.650002   475.950012  2564.949951    1211.949951
...                 ...        ...          ...          ...            ...
2023-03-20   971.799988  52.700001   475.549988  2751.149902    1183.550049
2023-03-21   976.799988  52.650002   480.399994  2751.149902    1205.750000
2023-03-22   990.650024  51.799999   473.250000  2791.800049    1220.800049
2023-03-23   973.200012  50.400002   501.850006  2823.350098    1229.900024
2023-03-24   950.099976  50.150002   503.049988  2843.050049    1184.300049

[63 rows x 18 columns]

In [64]:
type(new_data)

pandas.core.frame.DataFrame

In [68]:
working_data = pd.DataFrame(new_data['Adj Close'])
working_data

,360ONE.NS,3MINDIA.NS,AARTIPHARM.NS,ABB.NS,ABBOTINDIA.NS,ABFRL.NS,ACC.NS,ACE.NS,ADANIGREEN.NS,ADANIPORTS.NS,ADANITRANS-BL.NS,ADVENZYMES.NS,AETHER.NS,AFFLE.NS,AGSTRA.NS,AHLUCONT.NS,AIAENG.NS,AJANTPHARM.NS
Date,,,,,,,,,,,,,,,,,,
2022-12-26,434.529236,22386.800781,NaN,2724.649902,21772.550781,288.700012,2423.649902,287.950012,1876.849976,806.049988,NaN,276.899994,835.200012,1044.099976,64.699997,446.000000,2605.149902,1186.400024
2022-12-27,436.870270,22333.050781,NaN,2742.649902,21625.400391,286.350006,2478.000000,292.250000,1908.699951,817.150024,NaN,281.500000,841.450012,1049.500000,65.800003,470.750000,2602.750000,1165.349976
2022-12-28,434.293854,22101.000000,NaN,2724.350098,21643.150391,285.850006,2455.350098,291.049988,1897.849976,810.349976,NaN,282.000000,843.500000,1061.250000,64.050003,468.549988,2575.699951,1182.550049
2022-12-29,435.532501,22017.300781,NaN,2684.199951,21726.199219,288.049988,2447.850098,298.350006,1910.250000,819.549988,NaN,277.850006,840.250000,1077.000000,63.950001,482.399994,2584.800049,1200.000000
2022-12-30,440.090729,21943.099609,NaN,2683.000000,21367.199219,287.500000,2441.600098,303.850006,1931.800049,818.099976,NaN,280.799988,839.150024,1082.750000,63.650002,475.950012,2564.949951,1211.949951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-20,417.950012,22916.400391,280.299988,3298.850098,21327.300781,215.550003,1695.599976,361.399994,848.650024,666.750000,NaN,237.949997,862.349976,971.799988,52.700001,475.549988,2751.149902,1183.550049
2023-03-21,401.450012,22733.000000,280.799988,3412.350098,21287.849609,217.649994,1724.599976,374.399994,891.049988,664.799988,NaN,241.949997,871.549988,976.799988,52.650002,480.399994,2751.149902,1205.750000
2023-03-22,428.700012,22350.750000,287.950012,3309.899902,21491.650391,216.899994,1738.349976,371.700012,935.599976,657.150024,NaN,241.800003,875.250000,990.650024,51.799999,473.250000,2791.800049,1220.800049
2023-03-23,429.600006,21783.349609,295.850006,3360.449951,21540.199219,211.250000,1738.300049,380.350006,982.349976,654.950012,NaN,239.449997,885.549988,973.200012,50.400002,501.850006,2823.350098,1229.900024
2023-03-24,429.100006,22323.050781,285.149994,3346.699951,21128.900391,211.899994,1700.849976,377.350006,1029.349976,638.000000,NaN,233.250000,885.750000,950.099976,50.150002,503.049988,2843.050049,1184.300049

In [57]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
GetInformation = yahooFinance.Ticker("360ONE.NS")
 
# Valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y,
# 2y, 5y, 10y and ytd.
print(GetInformation.history(period="3M"))